name: Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: |
          npm ci

      - name: Deploy 01 instance
        run: |
          pm2 del $HOME/service/dashboard/instance/01/ecosystem.config.cjs
          rm -r $HOME/service/dashboard/instance/01/*
          cp -r * $HOME/service/dashboard/instance/01/
          DASHBOARD_PORT=18004 pm2 start $HOME/service/dashboard/instance/01/ecosystem.config.cjs

      - name: Deploy 02 instance
        run: |
          pm2 del $HOME/service/dashboard/instance/02/ecosystem.config.cjs
          rm -r $HOME/service/dashboard/instance/02/*
          cp -r * $HOME/service/dashboard/instance/02/
          DASHBOARD_PORT=18005 pm2 start $HOME/service/dashboard/instance/02/ecosystem.config.cjs
