name: Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Build
        run: |
          npm ci

      - name: Deploy 01 instance
        run: |
          pm2 del dashboard-1 || echo 'skip'
          rm -rf $HOME/service/dashboard/instance/01/*
          cp -r * $HOME/service/dashboard/instance/01/
          DASHBOARD_PORT=18004 pm2 start --name dashboard-1 --namespace port=18004 $HOME/service/dashboard/instance/01/src/index.js -f

      - name: Deploy 02 instance
        run: |
          pm2 del dashboard-2 || echo 'skip'
          rm -rf $HOME/service/dashboard/instance/02/*
          cp -r * $HOME/service/dashboard/instance/02/
          DASHBOARD_PORT=18005 pm2 start --name dashboard-2 --namespace port=18005 $HOME/service/dashboard/instance/02/src/index.js -f
